body, html {
	height: auto;
	min-height: 100%;
}

.something {
	background-color: grey;
}

.carpet {
	height:50px;
	width:50px;
}

.personsNameSpace {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	pointer-events: none;
	position: fixed;
	z-index: 200;
}
