body, html {
	height: auto;
	min-height: 100%;
}

div {
	display: block;
	unicode-bidi: isolate;
}

.something {
	background-color: grey;
}

.carpet {
	height:50px;
	width:50px;
}

.page {
	box-sizing: border-box;
}


.personsNameSpace {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	position: fixed;
	width: 100%;
	z-index: 200;
}
